In [1]:
from pyspark.sql import SparkSession
import requests
import json
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, LongType
from pyspark.sql.functions import col, lit, when, avg, count

In [2]:
spark = SparkSession.builder.appName("Fetch API Data with PySpark DataFrame").getOrCreate()

24/12/05 18:27:05 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
api_url = 'https://dummyjson.com/users'

### Fetch data from the given API URL and return it as a list of dictionaries.

In [4]:
def fetch_data(api_url):
    """
    Fetch data from the given API URL.
    """
    response = requests.get(api_url)
    if response.status_code == 200:
        return response.json().get("users", [])
    else:
        raise Exception(f"Failed to fetch data. Status code: {response.status_code}")

In [5]:
data = fetch_data(api_url)

### Define schema explicitly

In [6]:
schema = StructType([
    StructField("id", LongType(), True),
    StructField("firstName", StringType(), True),
    StructField("lastName", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("email", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("phone", StringType(), True),
    StructField("height", StringType(), True),
    StructField("weight", StringType(), True),
    StructField("eyeColor", StringType(), True),
    StructField("birthDate", StringType(), True),
    StructField("bloodGroup", StringType(), True),
    StructField("image", StringType(), True)
])

### Create DataFrame using the explicit schema

In [7]:
df = spark.createDataFrame(data, schema=schema)
# Show the DataFrame
df.show(truncate=False)

+---+---------+---------+---+---------------------------------+------+----------------+------+------+--------+----------+----------+-----------------------------------------+
|id |firstName|lastName |age|email                            |gender|phone           |height|weight|eyeColor|birthDate |bloodGroup|image                                    |
+---+---------+---------+---+---------------------------------+------+----------------+------+------+--------+----------+----------+-----------------------------------------+
|1  |Emily    |Johnson  |28 |emily.johnson@x.dummyjson.com    |female|+81 965-431-3024|193.24|63.16 |Green   |1996-5-30 |O-        |https://dummyjson.com/icon/emilys/128    |
|2  |Michael  |Williams |35 |michael.williams@x.dummyjson.com |male  |+49 258-627-6644|186.22|76.32 |Red     |1989-8-10 |B+        |https://dummyjson.com/icon/michaelw/128  |
|3  |Sophia   |Brown    |42 |sophia.brown@x.dummyjson.com     |female|+81 210-652-2785|177.72|52.6  |Hazel   |1982-11-6 |O-        |https://dummyjson.com/icon/sophiab/128   |
|4  |James    |Davis    |45 |james.davis@x.dummyjson.com      |male  |+49 614-958-9364|193.31|62.1  |Amber   |1979-5-4  |AB+       |https://dummyjson.com/icon/jamesd/128    |
|5  |Emma     |Miller   |30 |emma.miller@x.dummyjson.com      |female|+91 759-776-1614|192.8 |63.62 |Green   |1994-6-13 |AB-       |https://dummyjson.com/icon/emmaj/128     |
|6  |Olivia   |Wilson   |22 |olivia.wilson@x.dummyjson.com    |female|+91 607-295-6448|182.61|58    |Hazel   |2002-4-20 |B+        |https://dummyjson.com/icon/oliviaw/128   |
|7  |Alexander|Jones    |38 |alexander.jones@x.dummyjson.com  |male  |+61 260-824-4986|153.89|77.42 |Blue    |1986-10-20|AB-       |https://dummyjson.com/icon/alexanderj/128|
|8  |Ava      |Taylor   |27 |ava.taylor@x.dummyjson.com       |female|+1 458-853-7877 |168.47|57.08 |Hazel   |1997-8-25 |AB-       |https://dummyjson.com/icon/avat/128      |
|9  |Ethan    |Martinez |33 |ethan.martinez@x.dummyjson.com   |male  |+92 933-608-5081|159.19|68.81 |Hazel   |1991-2-12 |AB+       |https://dummyjson.com/icon/ethanm/128    |
|10 |Isabella |Anderson |31 |isabella.anderson@x.dummyjson.com|female|+49 770-658-4885|150.56|50.1  |Brown   |1993-6-10 |A-        |https://dummyjson.com/icon/isabellad/128 |
|11 |Liam     |Garcia   |29 |liam.garcia@x.dummyjson.com      |male  |+92 870-217-6201|162.32|93.16 |Violet  |1995-6-6  |AB-       |https://dummyjson.com/icon/liamg/128     |
|12 |Mia      |Rodriguez|24 |mia.rodriguez@x.dummyjson.com    |female|+49 989-461-8403|188.08|56.03 |Blue    |2000-8-4  |O-        |https://dummyjson.com/icon/miar/128      |
|13 |Noah     |Hernandez|40 |noah.hernandez@x.dummyjson.com   |male  |+49 393-605-6968|188.62|69.49 |Brown   |1984-6-5  |AB+       |https://dummyjson.com/icon/noahh/128     |
|14 |Charlotte|Lopez    |36 |charlotte.lopez@x.dummyjson.com  |female|+44 373-953-5028|178.92|82.46 |Brown   |1988-6-8  |AB-       |https://dummyjson.com/icon/charlottem/128|
|15 |William  |Gonzalez |32 |william.gonzalez@x.dummyjson.com |male  |+81 905-252-7319|173.21|82.41 |Hazel   |1992-3-27 |B-        |https://dummyjson.com/icon/williamg/128  |
|16 |Avery    |Perez    |25 |avery.perez@x.dummyjson.com      |female|+61 731-431-3457|172.68|93.9  |Brown   |1999-3-10 |O-        |https://dummyjson.com/icon/averyp/128    |
|17 |Evelyn   |Sanchez  |37 |evelyn.sanchez@x.dummyjson.com   |female|+1 623-880-6871 |184.08|83.15 |Violet  |1987-10-13|B+        |https://dummyjson.com/icon/evelyns/128   |
|18 |Logan    |Torres   |31 |logan.torres@x.dummyjson.com     |male  |+81 507-434-8733|190.04|72.43 |Green   |1993-10-26|A+        |https://dummyjson.com/icon/logant/128    |
|19 |Abigail  |Rivera   |28 |abigail.rivera@x.dummyjson.com   |female|+91 228-363-7806|186.39|74.61 |Violet  |1996-10-11|B+        |https://dummyjson.com/icon/abigailr/128  |
|20 |Jackson  |Evans    |34 |jackson.evans@x.dummyjson.com    |male  |+44 468-628-6686|162.57|74.37 |Green   |1990-11-30|O-        |https://dummyjson.com/icon/jacksone/128  |
+---+---------+---------+---+---------------------------------+------+----------------+------+------+--------+----------+----------+-----------------------------------------+
only showing top 20 rows

In [8]:
# Print schema to understand the structure
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- firstName: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- height: string (nullable = true)
 |-- weight: string (nullable = true)
 |-- eyeColor: string (nullable = true)
 |-- birthDate: string (nullable = true)
 |-- bloodGroup: string (nullable = true)
 |-- image: string (nullable = true)

In [9]:
df = df.withColumn("height", col("height").cast("float"))
df = df.withColumn("weight", col("weight").cast("float"))

In [10]:
df.show(truncate=False)
df.printSchema()

+---+---------+---------+---+---------------------------------+------+----------------+------+------+--------+----------+----------+-----------------------------------------+
|id |firstName|lastName |age|email                            |gender|phone           |height|weight|eyeColor|birthDate |bloodGroup|image                                    |
+---+---------+---------+---+---------------------------------+------+----------------+------+------+--------+----------+----------+-----------------------------------------+
|1  |Emily    |Johnson  |28 |emily.johnson@x.dummyjson.com    |female|+81 965-431-3024|193.24|63.16 |Green   |1996-5-30 |O-        |https://dummyjson.com/icon/emilys/128    |
|2  |Michael  |Williams |35 |michael.williams@x.dummyjson.com |male  |+49 258-627-6644|186.22|76.32 |Red     |1989-8-10 |B+        |https://dummyjson.com/icon/michaelw/128  |
|3  |Sophia   |Brown    |42 |sophia.brown@x.dummyjson.com     |female|+81 210-652-2785|177.72|52.6  |Hazel   |1982-11-6 |O-        |https://dummyjson.com/icon/sophiab/128   |
|4  |James    |Davis    |45 |james.davis@x.dummyjson.com      |male  |+49 614-958-9364|193.31|62.1  |Amber   |1979-5-4  |AB+       |https://dummyjson.com/icon/jamesd/128    |
|5  |Emma     |Miller   |30 |emma.miller@x.dummyjson.com      |female|+91 759-776-1614|192.8 |63.62 |Green   |1994-6-13 |AB-       |https://dummyjson.com/icon/emmaj/128     |
|6  |Olivia   |Wilson   |22 |olivia.wilson@x.dummyjson.com    |female|+91 607-295-6448|182.61|58.0  |Hazel   |2002-4-20 |B+        |https://dummyjson.com/icon/oliviaw/128   |
|7  |Alexander|Jones    |38 |alexander.jones@x.dummyjson.com  |male  |+61 260-824-4986|153.89|77.42 |Blue    |1986-10-20|AB-       |https://dummyjson.com/icon/alexanderj/128|
|8  |Ava      |Taylor   |27 |ava.taylor@x.dummyjson.com       |female|+1 458-853-7877 |168.47|57.08 |Hazel   |1997-8-25 |AB-       |https://dummyjson.com/icon/avat/128      |
|9  |Ethan    |Martinez |33 |ethan.martinez@x.dummyjson.com   |male  |+92 933-608-5081|159.19|68.81 |Hazel   |1991-2-12 |AB+       |https://dummyjson.com/icon/ethanm/128    |
|10 |Isabella |Anderson |31 |isabella.anderson@x.dummyjson.com|female|+49 770-658-4885|150.56|50.1  |Brown   |1993-6-10 |A-        |https://dummyjson.com/icon/isabellad/128 |
|11 |Liam     |Garcia   |29 |liam.garcia@x.dummyjson.com      |male  |+92 870-217-6201|162.32|93.16 |Violet  |1995-6-6  |AB-       |https://dummyjson.com/icon/liamg/128     |
|12 |Mia      |Rodriguez|24 |mia.rodriguez@x.dummyjson.com    |female|+49 989-461-8403|188.08|56.03 |Blue    |2000-8-4  |O-        |https://dummyjson.com/icon/miar/128      |
|13 |Noah     |Hernandez|40 |noah.hernandez@x.dummyjson.com   |male  |+49 393-605-6968|188.62|69.49 |Brown   |1984-6-5  |AB+       |https://dummyjson.com/icon/noahh/128     |
|14 |Charlotte|Lopez    |36 |charlotte.lopez@x.dummyjson.com  |female|+44 373-953-5028|178.92|82.46 |Brown   |1988-6-8  |AB-       |https://dummyjson.com/icon/charlottem/128|
|15 |William  |Gonzalez |32 |william.gonzalez@x.dummyjson.com |male  |+81 905-252-7319|173.21|82.41 |Hazel   |1992-3-27 |B-        |https://dummyjson.com/icon/williamg/128  |
|16 |Avery    |Perez    |25 |avery.perez@x.dummyjson.com      |female|+61 731-431-3457|172.68|93.9  |Brown   |1999-3-10 |O-        |https://dummyjson.com/icon/averyp/128    |
|17 |Evelyn   |Sanchez  |37 |evelyn.sanchez@x.dummyjson.com   |female|+1 623-880-6871 |184.08|83.15 |Violet  |1987-10-13|B+        |https://dummyjson.com/icon/evelyns/128   |
|18 |Logan    |Torres   |31 |logan.torres@x.dummyjson.com     |male  |+81 507-434-8733|190.04|72.43 |Green   |1993-10-26|A+        |https://dummyjson.com/icon/logant/128    |
|19 |Abigail  |Rivera   |28 |abigail.rivera@x.dummyjson.com   |female|+91 228-363-7806|186.39|74.61 |Violet  |1996-10-11|B+        |https://dummyjson.com/icon/abigailr/128  |
|20 |Jackson  |Evans    |34 |jackson.evans@x.dummyjson.com    |male  |+44 468-628-6686|162.57|74.37 |Green   |1990-11-30|O-        |https://dummyjson.com/icon/jacksone/128  |
+---+---------+---------+---+---------------------------------+------+----------------+------+------+--------+----------+----------+-----------------------------------------+
only showing top 20 rows

root
 |-- id: long (nullable = true)
 |-- firstName: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- height: float (nullable = true)
 |-- weight: float (nullable = true)
 |-- eyeColor: string (nullable = true)
 |-- birthDate: string (nullable = true)
 |-- bloodGroup: string (nullable = true)
 |-- image: string (nullable = true)

In [11]:
df.select("firstName", "lastName", "age", "height", "weight").filter(df.age > 30).show()

+---------+---------+---+------+------+
|firstName| lastName|age|height|weight|
+---------+---------+---+------+------+
|  Michael| Williams| 35|186.22| 76.32|
|   Sophia|    Brown| 42|177.72|  52.6|
|    James|    Davis| 45|193.31|  62.1|
|Alexander|    Jones| 38|153.89| 77.42|
|    Ethan| Martinez| 33|159.19| 68.81|
| Isabella| Anderson| 31|150.56|  50.1|
|     Noah|Hernandez| 40|188.62| 69.49|
|Charlotte|    Lopez| 36|178.92| 82.46|
|  William| Gonzalez| 32|173.21| 82.41|
|   Evelyn|  Sanchez| 37|184.08| 83.15|
|    Logan|   Torres| 31|190.04| 72.43|
|  Jackson|    Evans| 34|162.57| 74.37|
|   Elijah|  Stewart| 33|195.33| 81.64|
|    Chloe|  Morales| 39|185.07| 63.97|
|   Evelyn| Gonzalez| 35|168.94| 58.47|
|   Daniel|     Cook| 41|186.21| 83.72|
|    Henry|     Hill| 38|180.25| 95.84|
|  Addison|   Wright| 32|179.32| 76.93|
+---------+---------+---+------+------+

In [12]:
# Group by gender and count users
gender_count = df.groupBy("gender").count()
gender_count.show()

+------+-----+
|gender|count|
+------+-----+
|female|   17|
|  male|   13|
+------+-----+

In [13]:
#  Add a new column: Calculate BMI (weight / height^2)
df = df.withColumn("BMI", (col("weight") / (col("height") / 100) ** 2))

In [14]:
# Calculate average age and average BMI by gender
avg_stats = df.groupBy("gender").agg(
    avg("age").alias("avg_age"),
    avg("BMI").alias("avg_BMI")
)

In [15]:
avg_stats.show()

+------+------------------+------------------+
|gender|           avg_age|           avg_BMI|
+------+------------------+------------------+
|female|30.470588235294116|20.474549256956323|
|  male| 35.30769230769231|24.908442895659554|
+------+------------------+------------------+

In [16]:
spark.stop()