In [1]:
import os
import zipfile
from pyspark.sql import SparkSession

24/12/30 00:20:52 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [ ]:
spark = SparkSession.builder.appName("RestaurantOrdersPipeline").getOrCreate()

In [14]:
def extract_zip(zip_file_path, extract_to_dir):
    """
    Extract ZIP file to a specified directory.
    """
    with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
        zip_ref.extractall(extract_to_dir)
    print(f"Extracted {zip_file_path} to {extract_to_dir}")

In [17]:
def process_restaurant_orders_with_menu(file_path_orders, file_path_menu):
    """
    Process the Restaurant Orders dataset with PySpark and join it with menu items.
    """
    orders_df = spark.read.csv(file_path_orders, header=True, inferSchema=True)
    menu_df = spark.read.csv(file_path_menu, header=True, inferSchema=True)

    print("Orders DataFrame Schema:")
    orders_df.printSchema()

    print("Menu Items DataFrame Schema:")
    menu_df.printSchema()
    menu_df = menu_df.withColumnRenamed("menu_item_id", "item_id")

    # Join the datasets on the item_id column
    joined_df = orders_df.join(menu_df, on="item_id", how="inner")
    print("Joined DataFrame:")
    joined_df.show(truncate=False)

    #Total revenue per date
    revenue_per_date = joined_df.groupBy("order_date").agg((joined_df["price"]).alias("TotalRevenue")).orderBy("order_date")
    print("Total Revenue Per Date:")
    revenue_per_date.show()

    #Top-selling items
    top_items = joined_df.groupBy("item_name").count().orderBy("count", ascending=False)
    print("Top-Selling Items:")
    top_items.show()

    #Revenue by item category
    revenue_by_category = joined_df.groupBy("category").agg((joined_df["price"]).alias("TotalRevenue")
                                                           ).orderBy("TotalRevenue", ascending=False)

    print("Revenue By Item Category:")
    revenue_by_category.show()

    # Save the analysis results
    revenue_per_date.write.csv("output/revenue_per_date.csv", mode="overwrite", header=True)
    top_items.write.csv("output/top_items.csv", mode="overwrite", header=True)
    revenue_by_category.write.csv("output/revenue_by_category.csv", mode="overwrite", header=True)
    print("Analysis results saved to the output directory.")

In [19]:
def main():
    zip_file_path = "data/RestaurantOrders.zip"  
    extract_to_dir = "extracted_files"  

    #Extract ZIP file
    if not os.path.exists(extract_to_dir):
        os.makedirs(extract_to_dir)
    extract_zip(zip_file_path, extract_to_dir)

    #Process each extracted file
    for file_name in os.listdir(extract_to_dir):
        if file_name == 'restaurant_db_data_dictionary.csv':
            return
        file_path = os.path.join(extract_to_dir, file_name)
        process_restaurant_orders(file_path)

    # Stop Spark Session
    spark.stop()

if __name__ == "__main__":
    main()

Extracted data/RestaurantOrders.zip to extracted_files
Loaded DataFrame Schema:
root
 |-- order_details_id: integer (nullable = true)
 |-- order_id: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_time: string (nullable = true)
 |-- item_id: string (nullable = true)

+----------------+--------+----------+-----------+-------+
|order_details_id|order_id|order_date|order_time |item_id|
+----------------+--------+----------+-----------+-------+
|1               |1       |1/1/23    |11:38:36 AM|109    |
|2               |2       |1/1/23    |11:57:40 AM|108    |
|3               |2       |1/1/23    |11:57:40 AM|124    |
|4               |2       |1/1/23    |11:57:40 AM|117    |
|5               |2       |1/1/23    |11:57:40 AM|129    |
|6               |2       |1/1/23    |11:57:40 AM|106    |
|7               |3       |1/1/23    |12:12:28 PM|117    |
|8               |3       |1/1/23    |12:12:28 PM|119    |
|9               |4       |1/1/23    |12:16:31 PM|117    |
|10              |5       |1/1/23    |12:21:30 PM|117    |
|11              |6       |1/1/23    |12:29:36 PM|101    |
|12              |6       |1/1/23    |12:29:36 PM|114    |
|13              |7       |1/1/23    |12:50:37 PM|123    |
|14              |8       |1/1/23    |12:51:37 PM|123    |
|15              |9       |1/1/23    |12:52:01 PM|108    |
|16              |9       |1/1/23    |12:52:01 PM|126    |
|17              |9       |1/1/23    |12:52:01 PM|110    |
|18              |9       |1/1/23    |12:52:01 PM|117    |
|19              |9       |1/1/23    |12:52:01 PM|117    |
|20              |9       |1/1/23    |12:52:01 PM|129    |
+----------------+--------+----------+-----------+-------+
only showing top 20 rows

Orders Per Date:
+----------+-----------+
|order_date|order_count|
+----------+-----------+
|   1/20/23|        139|
|   1/27/23|        149|
|   1/21/23|        127|
|    3/7/23|        139|
|   3/12/23|        115|
|   2/11/23|        152|
|   2/23/23|        125|
|   3/23/23|        131|
|   1/31/23|        143|
|   3/29/23|        129|
|   1/30/23|        138|
|    2/3/23|        153|
|    1/2/23|        160|
|    2/5/23|        132|
|   1/13/23|        117|
|    1/4/23|        106|
|   2/21/23|        124|
|   1/11/23|        114|
|   3/26/23|        136|
|   3/20/23|        148|
+----------+-----------+
only showing top 20 rows

Item Frequency:
+-------+----------+
|item_id|item_count|
+-------+----------+
|    125|       470|
|    124|       367|
|    132|       420|
|    101|       622|
|    112|       324|
|    113|       620|
|    110|       360|
|    107|       456|
|    126|       249|
|    131|       364|
|    120|       489|
|    130|       239|
|    118|       354|
|    104|       238|
|    128|       207|
|    102|       583|
|    111|       355|
|    103|       257|
|    115|       123|
|    122|       461|
+-------+----------+
only showing top 20 rows

Peak Order Times:
+-----------+-----------+
| order_time|order_count|
+-----------+-----------+
| 7:27:47 PM|          2|
|11:31:34 AM|          2|
| 3:37:45 PM|          2|
|12:33:51 PM|          1|
|12:23:38 PM|          7|
|12:20:31 PM|          3|
| 3:17:51 PM|          2|
| 5:12:51 PM|          1|
| 1:39:29 PM|          3|
| 4:43:26 PM|          2|
| 6:27:56 PM|          2|
|10:16:39 PM|          4|
| 3:46:10 PM|          2|
| 7:38:24 PM|          2|
|11:18:31 AM|          1|
|12:29:32 PM|          1|
|12:40:41 PM|          5|
|10:23:48 PM|          1|
|12:39:57 PM|          4|
| 1:28:07 PM|          1|
+-----------+-----------+
only showing top 20 rows

Analysis results saved to the output directory.
Unsupported file type: extracted_files/__MACOSX